body {
  background: linear-gradient(135deg, #020617, #020024);
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 90px;
}

h1 {
  font-size: 32px;
}

p {
  opacity: 0.8;
}

input, button {
  padding: 12px;
  margin: 8px;
  border-radius: 8px;
  border: none;
}

button {
  background: #22c55e;
  color: black;
  font-weight: bold;
}

footer {
  margin-top: 60px;
  font-size: 12px;
  opacity: 0.5;
}
